/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Great+Vibes&family=Pacifico&family=Rowdies:wght@700&family=Titan+One&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color:var(--clr-primary-4);
}


/* img:not(.nav-logo) {
  width: 100%;
  display: block;
} */

img:not(.nav-logo){
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  /* font-weight: 700; */
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary-5);
  background: black;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*
=============== 
===============
===============
My Stles
===============
===============
===============
*/
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*
=============== 
===============
===============
GLOBAL STYLES
===============
===============
===============
*/

:root{
  --clr-prime:
  --transit:all 0.4s ease;
}

.world-icon{
  font-size: 40px;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.world-icon:hover{
  color:var(--clr-primary-5);
}

.section{
  padding: 5rem 0;
}
.section-title{
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h2{
  text-transform: uppercase;
}

.section-title span{
  color: var(--clr-primary-5);
}

.section-center{
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width:900px){
  .section-center{
    width: 95vw;
    max-width: 1220px;
  }
}


.about-home-btn{
 margin-bottom: 2rem;
}

.background-div{
  back
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*
=============== 
Navbar
===============
*/
.navbar{
position: fixed;
top: 0;
left:0;
width:100%;
background:white;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
z-index: 2;
}

.nav-center{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-icons{
  display: none;
}
.nav-header{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 1rem 2rem;
}

.nav-toggle{
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.nav-toggle:hover{
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.nav-link{
  display: block;
padding: 1rem 2rem;
text-transform: capitalize;
letter-spacing: var(--spacing);
-webkit-transition: var(--transition);
transition: var(--transition);
cursor: pointer;
color: var(--clr-grey-1);
font-size: 1rem;
}

.nav-link:hover{
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
  padding-left: 3rem;
}

.nav-links{
  height: 0;
  overflow: hidden;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.show-links{
  height: 280px;
}

@media screen  and (min-width:992px){
  /* toggle button */
 .navbar{
  padding: 1rem 2rem;
 }

  .nav-toggle{
    display: none;
  }
  .nav-center{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
  }
  .nav-links{
    height: auto;
    display: -webkit-box;
    display: flex;
  }
  .nav-header{
    padding: 0 0;
  }
  .nav-link{
    padding: 0 0;
    margin-right: 2rem;
  }
  .nav-link:hover{
    padding: 0;
    color: var(--clr-primary-5);
    background: transparent;
  }
  .nav-icons{
    display: -webkit-box;
    display: flex;

  }
  .nav-icon{
    margin-right: 0.7rem;
    color: var(--clr-primary-5);
    font-size: 1.2rem;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .nav-icon:hover{
    color: black;
  }

}

/*
=============== 
Hero
===============
*/
.hero{
min-height: 100vh;
background: -webkit-gradient(linear,left bottom, left top,from(rgba(0,0,0,0.9)),to(rgba(0,0,0,0.8))), url(../images/others/bgd-12.jpg) center/cover no-repeat fixed;
background: linear-gradient(to top,rgba(0,0,0,0.9),rgba(0,0,0,0.8)), url(../images/others/bgd-12.jpg) center/cover no-repeat fixed;
display: -webkit-box;
display: flex;
-webkit-box-pack: center;
        justify-content: center;
-webkit-box-align: center;
        align-items: center;
}
.hero-content{
  text-align: center;
  line-height: 1.8;
  color: var(--clr-white);
  font-weight: bolder;
  
  
}
.hero-content h1{
  font-family: 'Aclonica', sans-serif;
  -webkit-animation: h1 2.5s ease-in-out 1;
          animation: h1 2.5s ease-in-out 1;
  /* color: var(--clr-primary-5); */
}
@-webkit-keyframes h1{
0%{
  opacity: 0;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
}

}

@keyframes h1{
0%{
  opacity: 0;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
}

}
.hero-content h2{
  margin-top: 1rem;
font-size: 50px;
margin-bottom: 1.5rem;
font-family: 'Great Vibes', cursive;
-webkit-animation: h2 3s ease-in-out 1;
        animation: h2 3s ease-in-out 1;
}
@-webkit-keyframes h2 {
  0%,50%,75%{
    opacity: 0;
    font-size: 0;
  }
  100%{
    opacity: 1;
    
  }
}
@keyframes h2 {
  0%,50%,75%{
    opacity: 0;
    font-size: 0;
  }
  100%{
    opacity: 1;
    
  }
}
.hero-content p{
  color: white;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-size: 18px;
  font-family: 'Aclonica', sans-serif;
}

.p-btn{
  -webkit-animation: p-btn 4s ease-in;
          animation: p-btn 4s ease-in;
}
@-webkit-keyframes p-btn {
  0%,50%,75%{
    opacity: 0;
  }
}
@keyframes p-btn {
  0%,50%,75%{
    opacity: 0;
  }
}
.hero-btn{

  font-family: 'Aclonica', sans-serif;
  -webkit-animation: hero-btn 4.5s ease-in 1;
          animation: hero-btn 4.5s ease-in 1;
padding-right: 1.2rem;
padding-left: 1.2rem;
border-radius: 0.5rem;
outline: 2px solid white;
font-weight: bolder;
outline-offset: 7px;
background:transparent;
}
.hero-btn:hover{
background:white ;
color:var(--clr-primary-5);
}
@-webkit-keyframes hero-btn {
  0%,50%,75%{
    opacity: 0;
  }
 
}
@keyframes hero-btn {
  0%,50%,75%{
    opacity: 0;
  }
 
}

.fay-icon{
width: 200px;
height: 200px;
align-self: first baseline;

}


@media screen and (min-width: 750px) {
  .hero{
    background:-webkit-gradient(linear,left top, left bottom,from(#00010176),
to(#000000)) ,url(../images/others/bgd-8.jpg) center/cover no-repeat fixed;
    background:linear-gradient(to bottom,#00010176,
#000000) ,url(../images/others/bgd-8.jpg) center/cover no-repeat fixed;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .hero-content p{
    font-size: 25px;
  }
  
}


/*
=============== 
About
===============
*/
/* section add to globals */
/* title add to globals */
/* section center add to globals */
/* .about{
  min-height: calc(100vh - 5rem);
  background: linear-gradient(to bottom, rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(../images/others/North-lights.jpg) center/cover no-repeat fixed;
  
} */




.about-info,.about-img{
margin-bottom: 2rem;
text;
}


@media screen and (min-width:900px){
  .about-center{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
   /* gap: 0 2rem; */
   flex-wrap: wrap;
  }
  .about-info,.about-img{
-webkit-box-flex: 0;
        flex: 0 0 calc(50% - 2rem);
align-self: center;

}


}



.about-pic{
  -o-object-fit: cover;
     object-fit: cover;
position: relative;
}

@media screen and (min-width: 1200px){
  .about-img::before{
    display: block;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border: 8px solid var(--clr-primary-5);
    box-sizing: border-box;

top: -24px;
left: -24px;
/* z-index:-1; */
-webkit-transition: all 0.5s linear;
transition: all 0.5s linear;
  }
  .about-img{
    position: relative;
   
  }

}

.about-img:hover::before{
 top: 0;
 left: 0;
 
}


.about-info h3{
  font-weight: bolder;
}

.about-info{
line-height: 2.2;
font-size: 20px;
text-align: justify;

}

.about-pic{
  display: none;
}

@media screen and (min-width:900px) {
  .about-pic{
    display: initial;
    
  }
  .about-info{
line-height: 2.0;
font-size: 20px;

}
}



/*
=============== 
Services
===============
*/

.services{
  background: var(--clr-grey-10);
}
.service{
  text-align: center;
  margin-bottom: 4rem;
}
.service-icon{
  /* background: var(--clr-primary-5); */
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
padding: 0.5rem;
display: inline-block;
font-size: 2rem;
margin-bottom: 1.5rem;
-webkit-transition: all 0.4s linear;
transition: all 0.4s linear;
}
.service-icon:hover{
  background: black;
  color: var(--clr-primary-5);
}
.service-text{
  max-width: 17rem;
  margin: 0 auto;
  text-align: center;
  
}
.service-title{
  text-align: center;
}
.service{
  -webkit-box-flex: 0;
          flex: 0 0 calc(50% - 1rem);
}
@media screen and (min-width:476px) {
  .services-center{
    display: -webkit-box;
    display: flex;
   -webkit-box-align: center;
           align-items: center;
   -webkit-box-pack: center;
           justify-content: center;
   gap: 5rem 5rem;
   
    
  }
}
@media screen and (min-width:970px) {
 .first-flex-container,
 .second-flex-container
 {
display: -webkit-box;
display: flex;
-webkit-box-pack: justify;
        justify-content: space-between;
 }
 .service{
  display: -webkit-box;
  display: flex;
text-align:left;
-webkit-box-pack: center;
        justify-content: center;
-webkit-box-align: center;
        align-items: center;

gap: 0 1rem;
  
 }
 .service-icon{
  align-self: center;
 }
.service-title{
  display: -webkit-box;
  display: flex;
  margin-bottom: 0.5rem;
  -webkit-box-pack: center;
          justify-content: center;
}
}

.service-btn{
  /* margin: 0 aut; */

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.service-link{
  color: white;
}
.click-me{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

/*
=============== 
Featured Tours
===============
*/
 .tour-card{
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background: var(--clr-grey-10);
  box-shadow: var(--light-shadow);
  margin-bottom: 3rem;
  position: relative;

} 

.north-flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 1rem;
}


.tour-image-container{
  position: relative;
}
.tour-img{
  -o-object-fit: cover;
     object-fit: cover;
  height: 16rem;
}  
.tour-card:hover{
  box-shadow: var(--dark-shadow);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}




.tour-info{
  padding: 1.25rem 1.5rem;
}
.tour-footer{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
  row-gap: 1rem;
 
}

.tour-footer p{
  line-height: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  color: var(--clr-primary-5);
}

.tour-btn{
  text-align: center;
}
.tour1-btn{
  text-align: center;
}
.tour2-btn{
  text-align: center;
}

@media screen and (min-width:700px) {
  .featured-center{
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }

  .tour-card{
    -webkit-box-flex: 0;
            flex: 0 0 calc(50% - 2rem);
  }
  .tour-btn{
  position: absolute;
  top: 0;
  right: 0;

  margin-top: 12.6rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
}

@media screen  and (min-width: 1100px) {
  .tour-card{
    -webkit-box-flex: 0;
            flex: 0 0 calc( 33.5% - 2rem);
  
  }
}





/*
=============== 
Contact
===============
*/
.contact{
  background: var(--clr-primary-5);
}
.contact-title{
  color: white;
  font-weight: bolder;
}

.contact-title p{
  color: var(--clr-primary-8);
}
.contact-form{
  display: -webkit-box;
  display: flex;
  max-width: 28rem;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}

.form-control{
  -webkit-box-flex: 1;
          flex: 1 1 auto ;
  color: var(--clr-grey-5);
}

.form-control,.submit-btn{
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  background: white;
  text-transform: capitalize;
  border: transparent;
  letter-spacing: 1.2px;
}

.form-control::-webkit-input-placeholder{
  color: inherit;
}

.form-control::-moz-placeholder{
  color: inherit;
}

.form-control:-ms-input-placeholder{
  color: inherit;
}

.form-control::-ms-input-placeholder{
  color: inherit;
}

.form-control::placeholder{
  color: inherit;
}
.submit-btn{
  font-family: var(--ff-primary);
  background: var(--clr-primary-8);
  color: var(--clr-primary-1);
  cursor: pointer;
  -webkit-transition:all 0.5s linear;
  transition:all 0.5s linear;
}
.submit-btn:hover{
  color: white;
  background: black;
}
@media screen and (min-width:900px) {
  .contact-center{
    display: -webkit-box;
    display: flex;
 
   -webkit-box-pack: justify;
 
           justify-content: space-between;
  }

  .contact-form{
    align-self: flex-start;
    -webkit-box-flex: 1;
            flex: 1 1 auto;
    max-width: 100%;
    
  }
}

/*
=============== 
Gallery
===============
*/

.gallery-img-container{
  position: relative;
  background: var(--clr-primary-5);
}

.gallery-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 35px;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  color: white;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.gallery-img{
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.gallery-img-container:hover .gallery-img{
  opacity: 0.5;
}
.gallery-img-container:hover .gallery-icon{
  opacity: 1;
  font-weight: bolder;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media screen and (min-width:750px) {
  .gallery-center{
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
  }

  .gallery-img-container{
    -webkit-box-flex: 0;
            flex: 0 0 50%;
  }
}
@media screen and (min-width:1100px) {
   .gallery-img-container{
    -webkit-box-flex: 0;
            flex: 0 0 25%;
  }
}
/*
=============== 
Footer
===============
*/
.footer{
  background: black;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer-icons{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}
@media screen and (min-width:800px){
  .footer-links,.footer-icons{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}
}
.footer-link{
  color: white;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: var(--spacing);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  line-height: 2.0;
 
}

.footer-link:hover{
  color: var(--clr-primary-5);
}

.footer-icon{
  font-size: 2rem;
  color: white;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: block;
  margin-top: 1rem;
}

.footer-icon:hover{
color: var(--clr-primary-5);
}
.copy-right{
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  color: white;
  margin-top: 1.5rem;
  
}

.Ugo-X{
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 1rem;
  color: rgb(157, 137, 24);
}
.git-hub-icon{
  font-size: 1.5rem;
  margin-left: 0.5rem;
  color: white;
}

.git-hub-icon:hover{
  color: var(--clr-primary-5);
}


